modules = ["nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CLIENT_APP_ID = "meetsweet-mobile"
