@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@layer theme {
  :root {
    @variant light {
       --background:       #FCFCFC;
       --foreground:       #000000;
       --surface:          #FFFFFF;
       --surface-foreground: #000000;
       --accent:           #000000;
       --accent-foreground: #FFFFFF;
       --border:           #D9D9D9;
       --muted:            #666666;
       --default:          #F2F2F2;
       --default-foreground: #000000;

      --font-normal:   'Poppins_400Regular';
      --font-medium:   'Poppins_500Medium';
      --font-semibold: 'Poppins_600SemiBold';
      --font-bold:     'Poppins_700Bold';
      --radius: 1rem;
    }

    @variant dark {
       --background:       #111111;
       --foreground:       #FFFFFF;
       --surface:          #1F1F1F;
       --surface-foreground: #FFFFFF;
       --accent:           #FFFFFF;
       --accent-foreground: #000000;
       --border:           #383838;
       --muted:            #858585;
       --default:          #292929;
       --default-foreground: #FFFFFF;

      --font-normal:   'Poppins_400Regular';
      --font-medium:   'Poppins_500Medium';
      --font-semibold: 'Poppins_600SemiBold';
      --font-bold:     'Poppins_700Bold';
      --radius: 1rem;
    }
  }
}
